@font-face {
  font-family: 'Outfit';
  src: url(../../../fonts/Outfit-Light.ttf) format('truetype'); /* Specify the correct path to the font file */
  /* You can add more font formats (e.g., WOFF, WOFF2) for cross-browser support */
}

body{
  font-family: 'Outfit';
}

div .containerStyle {
    --bg-image: url(../../images/roller_high_res.jpeg);
    --bg-image-opacity: 1.0;

    display: grid;
    place-content: center;
    text-align: center;
    min-height: 450px;

    position: relative;
    isolation: isolate;
  }

div .containerStyle::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    /* opacity: var(--bg-image-opacity); */
    
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}

div .bottomImage {
  --bg-image2: url(../../images/Blog-Cover-04-11-20.jpg);
  --bg-image2-opacity: 0.5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;

  position: relative;
  isolation: isolate;
}

div .bottomImage::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image2-opacity);
  
  background-image: var(--bg-image2);
  background-size: cover;
  background-position: center;
}

.LocationText {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Outfit';
}

.Location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-line {
  line-height: 2; /* Adjust the value as needed to reduce spacing */
}

.item {
  width: 190px; /* Adjust the width of each item as needed */
  text-align: left;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:'Outfit'
}

.item2 {
  width: 250px; /* Adjust the width of each item as needed */
  text-align: right;
  font-size: 1.5rem;
  padding-right: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:'Outfit'

}

div .rollerText{
    font-family: 'Outfit';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

div .number{
    color: white;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(101, 174, 239);
  }
  
  .words {
    flex: 2;
    max-width: 60%; /* 2/3 of the available width */
    text-align: left;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-size: 2.7rem;
    margin-left: auto; /* Center the text horizontally */
    margin-right: auto; /* Center the text horizontally */  
    max-width: 900px; /* Set the maximum width for the text */
    text-align: left;
    font-family: 'Outfit';
  }

  .mainBlurb {
    padding-top: 10px;
    font-family:'Outfit';
    font-size: 1.35rem;
    padding-left: 30px;
  }
  
  .imageContainer {
    flex: 1;
    max-width: 40%; /* 1/3 of the available width */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px; /* Add padding to the top of the image container */
  }
  
  .flexImage {
    max-height: 350px;
    max-width: 100%; /* Ensure the image fits within the container */
    padding-bottom: 10px;
  }
  
  @media (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .mainBlurb {
        font-size: 1.15rem;
        padding-right: 30px;
      }



    .flexContainer {
      flex-direction: column; /* Change the direction to column */
      align-items: center; /* Center the items vertically */
    }
  
    .words {
      max-width: 100%; /* Full width for text */
      text-align: left; /* Center the text */
      padding-left: 5px;
      padding-right: 5px;
    }

    .imageContainer {
        max-width: 100%;
        padding: 5px;
      }

    .flexImage {
        max-height: 350px;
        max-width: 100%; /* Ensure the image fills the available width */
      }

    .bottomImage {
      flex-direction: column;
    }

    .item {
      text-align: center;
    }

    .item2{
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .bottomImage {
      flex-direction: column;
    }

    .item {
      text-align: center;
      width: 200px;
    }

    .item2{
      text-align: center;
      width: 250px;
    }

    .container-wrapper {
      flex-direction: column;
    }
  }

/* media querey for location */
  @media (max-width: 580px) {
    .Location {
      flex-direction: column;
    }
  
    .LocationText {
      text-align: center;
    }
  
    iframe {
      width: 100%; /* Make the iframe take the full width */
      height: 300px; /* Automatically adjust the height to maintain aspect ratio */
    }
  }

  .container-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  
  .container {
    border: 3px solid white;
    padding: 20px 40px 40px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Increase values for a stronger effect */
  }

  .large-icon-container {
    margin: 30px 30px 10px 0;
		float: left;
  }
  
  .container__text {
    display: inline;
  }
  
  .container h2 {
    font-size: 1.25rem;
  }
  
  .test{
    text-align: center;
    font-family: 'Outfit';
    padding-top: 20px;
    padding-bottom: 20px;
  }