/* Projects.css */

.ProjectsContainer {
    width: 100%;
    max-width: 650px; /* Set maximum width */
    height: 100%;
    box-sizing: border-box; /* Include padding and border in the total width/height */
    margin-bottom: 20px; /* Add some space between containers, adjust as needed */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't extend beyond rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Box shadow for lifted effect */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ProjectText {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.ProjectTitle {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Outfit';
}

.ProjectDesc {
    font-size: 1.20rem; /* Adjust the font size as needed */
    text-align: center;
    color: rgb(70, 67, 67);
}

.CenteredText {
    font-size: 30px;
    text-align: center;
    font-family: 'Outfit';
    margin-bottom: 30px;
}

@media (max-width: 1000px) {

    .ProjectsContainer {
        padding: 10px;
    }

}
