.titleBackground{
    text-align: center;
    font-family: 'Outfit';
    padding-top: 20px;
    padding-bottom: 30px;
}

.centered-dash {
    width: 30px; /* Adjust the width of the dash */
    height: 2px; /* Adjust the height or thickness of the dash */
    background-color: rgb(101, 174, 239);
    margin: 0 auto; /* Center the dash horizontally */
    margin-top: 20px;
  }

.ServicesTitle {
    font-size: 60px;  
    padding-bottom: 20px;
}

.ServicesTitleDesc {
    font-size: 30px;
    margin: 0 auto;
    color: rgb(70, 67, 67);
}

.services-row {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin-bottom: 30px;
}

.services-container {
    width: 100%;
    max-width: 650px; /* Set maximum width */
    height: 100%;
    box-sizing: border-box; /* Include padding and border in the total width/height */
    margin-bottom: 20px; /* Add some space between containers, adjust as needed */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't extend beyond rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Box shadow for lifted effect */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
.topPic {
    width: 100%;
    max-height: 700px; /* Set your desired maximum height */
    object-fit: cover;
    border-radius: 10px;
}

.service-desc {
    font-size: 1.20rem; /* Adjust the font size as needed */
    text-align: center;
    color: rgb(70, 67, 67);
}

.text-container {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .services-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .services-container {
        padding: 10px;
        margin-bottom: 30px;
    }

    .topPic {
        width: 100%;
        border-radius: 10px;
    }
}

