.ServicesTitle {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Outfit';
}

.titleBackground {
    --bg-image: url(../../images/red_paint_brush.jpeg);
    --bg-image-opacity: 1.0;

    display: grid;
    place-content: center;
    text-align: center;
    min-height: 150px;

    position: relative;
    isolation: isolate;
    margin-top: 5px;
    margin-bottom: 15px;
}

.titleBackground::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: var(--bg-image-opacity);

    z-index: -1;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}

.services-row {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.services-container {
    width: 100%;
    max-width: 650px; /* Set maximum width */
    height: 450px;
    box-sizing: border-box; /* Include padding and border in the total width/height */
    margin-bottom: 20px; /* Add some space between containers, adjust as needed */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't extend beyond rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Box shadow for lifted effect */
    height: 100%; 
}
  
.topPic {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-left-radius: 10px; /* Match container's border-radius for top-left corner */
    border-top-right-radius: 10px; /* Match container's border-radius for top-right corner */
}

.service-desc {
    font-size: 1.20rem; /* Adjust the font size as needed */
    text-align: center;
}

.text-container {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 1000px) {
    .services-row {
        flex-direction: column;
        align-items: center;
    }

    .service-desc{
        display: none;
    }

    .services-container {
        padding: 10px;
    }

    .topPic {
        width: 100%;
        border-top-left-radius: 10px; /* Update for rounded corners */
        border-top-right-radius: 10px; /* Update for rounded corners */
    }
}


/* modifications for accordion */

.open {
    display: block;
}
